@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
* {
  box-sizing: border-box;
}

body {
  background: #aa4b6b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3b8d99,
    #6b6b83,
    #aa4b6b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3b8d99,
    #6b6b83,
    #aa4b6b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
b {
  font-size: 20px;
}
.container {
  width: 80%;
  margin: auto;
  left: 10%;
  border: 2px solid #cae4db;
  border-radius: 22px;
}
.navbar {
  background-color: #cae4db;
  padding: 20px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.navbar a {
  float: left;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.navbar #logo {
  font-size: 35px;
  font-weight: bold;
  color: black;
  transition: 0.4s;
}

.navbar a:hover {
  color: rgba(0, 0, 0, 0.9);
}

.navbar a.active {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-right {
  float: right;
}
.heading-text,
.form-heading {
  font-family: "Kanit", sans-serif;
  padding-top: 13px;
  padding-bottom: 13px;
}

.button-register {
  margin-top: 19px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbutton {
  border: hidden;
  background-color: #ffffff;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
