* {
  box-sizing: border-box;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    45deg,
    rgba(124, 128, 155),
    rgba(255, 180, 180),
    rgba(169, 139, 152),
    rgba(79, 207, 136)
    
  );
}

.reg-head {
  letter-spacing: 7px;
  animation: color-change 0.8s infinite;
  font-family: emoji;
  margin: 20px;
}

@keyframes color-change {
  0% { color: #4FCF88; }
  50% { color: #ec4646; }
  75% { color: #C44545; }
  100% {color: #322CDD;}
}

#submitDetails {
  background: #322CDD;
  color: white;
  width: 47%;
  border-radius: 25px;
  margin-left: 17.5rem;
}   

#submitDetails:hover {
  background: white;
  color: #322CDD;
  transition: all 2s linear;
}

 @media screen and (max-width: 960px)
 {
  #submitDetails
   {    
     margin-left: 5.8rem;
   }
}



.container {
  
  width: 80%;
  margin: auto;
  margin-bottom: 47px;
  left: 10%;
  border: 2px solid rgb(255, 255, 255);
  margin-top: 45px;
  border-radius: 50px;
  color: white;
  /* background: linear-gradient(0.25turn, #F7483B, #3590F3, #33FF96, #FEB248); */

}
.navbar {
  background-color: #ffffff;
  padding: 20px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.navbar a {
  float: left;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.navbar #logo {
  font-size: 35px;
  font-weight: bold;
  color: black;
  transition: 0.4s;
}

.navbar a:hover {
  color: rgba(0, 0, 0, 0.9);
}

.navbar a.active {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-right {
  float: right;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbutton {
  border: hidden;
  background-color: #ffffff;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
