body{
    margin:0;
    padding: 0;
    background: url(imglogin.jpg) no-repeat;
    background-size: cover;
}
.container{
    text-align: center;
    margin-top: 180px;
    color:white;
    font-family: 'Roboto', sans-serif;
     
}
.btn{
    background: #3498db;
    padding:10px 20px;
    width: 120px;
    font-size: 20px;
    font-family: "montserrat";
    cursor:pointer;
    margin:10px;
    position:relative;
    overflow:hidden;
    border: 3px solid white;
    border-radius: 10px;
    color: #fff;
}

.btn:hover{
    background: #fff;
    font-weight: bolder;
    color: #077fcf;
    transition: all 0.4s;
}