<div class="loader-body" id="loader">
  <div class="loader loadingio-spinner-spin-8fz6k2ttvuc">
    <div class="ldio-fzb6wek8tvr">
      <div><div></div></div>
      <div><div></div></div>
      <div><div></div></div>
      <div><div></div></div>
      <div><div></div></div>
      <div><div></div></div>
      <div><div></div></div>
      <div><div></div></div>
      <div><div></div></div>
      <div><div></div></div>
      <div><div></div></div>
      <div><div></div></div>
      <div><div></div></div>
    </div>
  </div>
</div>


<header id="navbar" class="nav_Header">
  <a href="#"><h1>Scrum</h1></a>
  
  <section class="menu">
    <ul class="menu-list">
      <li class="active">Home</li>
      <li><a>About</a></li>
      <li><a>Contact Us</a></li>
      <li><a>Developers</a></li>
      <a class="cta-nav" href="/regadm">Sign Up</a>
    </ul>

    <button>
      <i class="fas fa-times"></i>
      <i class="fas fa-bars"></i>
    </button>
  </section>
</header>

  


<script>
    document.body.onload = () => {
      setTimeout(() => {
        var preloader = document.getElementById("loader");
        if (!preloader.classList.contains("done")) {
          preloader.classList.add("done");
        }
      }, 200);
    };
  </script>
  
  <!-- <script>
    // When the user scrolls down 20px from the top of the document, slide down the navbar
    var prevScollLoc = window.pageYOffset;
    window.onscroll = function() {
      
      var currScrollLoc = window.pageYOffset;
      if (prevScrollLoc > currScrollLoc) {
          document.getElementById("navbar").style.top = "0";
      } else {
        document.getElementById("navbar").style.top = "-10px";
      }

      prevScollLoc =currScrollLoc;
    }
  </script> -->