<!DOCTYPE html>
<html lang="en">

<head>
    <title>Check Easy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="fetchDetails.css">
    <link href="/common.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <%- include('./common') %>
     <div class="container-fluid">
        <div class="row1" align="center">
             <marquee scrollamount="10">
                <img src="cdxlogo.png" width="500px" border="5" bordercolor="white">
                <img src="img1.jpg" width="500px" border="5" bordercolor="white">
                <img src="img2.jpg" width="500px" border="5" bordercolor="white">
                <img src="img3.jpg" width="500px" border="5" bordercolor="white">
                <img src="img4.jpeg" width="500px" border="5" bordercolor="white">
                <img src="img5.jpg" width="500px" border="5" bordercolor="white">
            </marquee>
        </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" id="students_name">
                <tr>
                    <th>Members</th>
                    <th>Assignee</th>
                    <th>Status</th>
                </tr>
                <% for(let i = 0; i < members.length; i++) { %>
                    <tr>
                    <div class="firstname_display">
                        <td><a class="button1" href='#popup1'><%= members[i].firstName %></a></td>
                    </div>
                    <td><%= members[i].assginee %></td>
                    <td><%= members[i].status %></td>
                    </tr>
                <% } %>           
            </table>
        </div>
        <ul style="padding-left: 0px;">
                <li>
                    <form align="center">
                         <div id="popup1" class="overlay">
                            <div class="popup">
                                 <h2>Name</h2>
                                <a class="close" href="#">&times;</a>
                                <div class="content">
                                    <h5>Branch :</h5>
                                    <h5>Semester : </h5>
                                    <h5>Section : </h5>
                                    <h5>Gmail : </h5>
                                    <h5>Mobile no :</h5>
                                    <h5>Github link : </h5>
                                    <button class="button2" type="submit">Accept</button>
                                </div>
                            </div> 
                        </div>
                    </form> 
                </li>
        </ul>
    </div>
</body>

</html>
