<!--Fixed Button at the right-->
<div class="row" >
    <div id="fixed-Btn" class="col-lg-6 md-6 sm-6 xs-6" data-aos="fade-left" data-aos-delay="700" data-aos-duration="1500">
      <a  href="https://www.facebook.com/"><i id="fbt" class="fab fa-facebook-square"></i></a>
      <a  href="https://www.instagram.com/"><i id="igt" class="fab fa-instagram"></i></a>
      <a  href="https://github.com/"><i id="ght" class="fab fa-github"></i></a>
      <a  href="https://www.linkedin.com/"><i id="lkt" class="fab fa-linkedin"></i></a>
      <a  href="https://www.youtube.com/"><i id="ytt" class="fab fa-youtube"></i></a>
    </div>
  </div>
  <!--Fixed btn Ends here-->