<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Sign In
    </title>
    <link href="/style1.css" rel="stylesheet" type="text/css">

</head>

<body>

    <!--<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Sign in:</h1>
                <h2 class="student-show">Student</h2>
                <form action="/student" method="GET" id="student">
                    <button class="btn">Student</button>
                </form>
                <h2 class="admin-show">Administrator</h2>
                <form action="/admin" method="GET" id="admin">
                    <button class="btn">Admin</button>
                </form>
            </div>
        </div>
    </div>-->
    <div id="navbar" class="navbar">
        <a href="#default" id="logo" class="logo"><u>Scrum Mgmt.</u></a>
        <div class="navbar-right">
          <a class="active" href="#">Home</a>
          <a href="#">SignIn</a>
          <a href="#">SignUp</a>
        </div>
      </div>
    <img src="https://insights.dice.com/wp-content/uploads/2019/04/Project-Management-Project-Manager-Scrum-Dice.png" class="homeimg">

    <div class="box">
        <img src="https://previews.123rf.com/images/tanyastock/tanyastock1803/tanyastock180300490/97923644-user-icon-avatar-login-sign-circle-button-with-soft-color-gradient-background-vector-.jpg"
            class="avatar">
        <div class="content">
            <br>
            <center>
                <h1><u>Login Here</u></h1>
                <h2>Student</h2>
                <form action="/student" method="GET" id="student">
                    <button class="btn">Student</button>
                </form>
                <h2>Administrator</h2>
                <form action="/admin" method="GET" id="admin">
                    <button class="btn">Admin</button>
                </form>
            </center>
        </div>
    </div>

    <script>
// When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
    document.getElementById("navbar").style.padding = "30px 10px";
    document.getElementById("logo").style.fontSize = "25px";
  } else {
    document.getElementById("navbar").style.padding = "80px 10px";
    document.getElementById("logo").style.fontSize = "35px";
  }
}
</script>
</body>

</html>