<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign In</title>
    <!-- <link href="/style1.css" rel="stylesheet" type="text/css" /> -->
    <link href="/ScrollBar.css" rel="stylesheet" type="text/css" />
    <link href="/common.css" rel="stylesheet" type="text/css" />
    <link href="/homePage.css" rel="stylesheet" type="text/css" />
    <link href="/loginPage.css" rel="stylesheet" type="text/css" />
    <link href="/features.css" rel="stylesheet" type="text/css" />
    <link href="/Contact.css" rel="stylesheet" type="text/css" />
    <link href="/footer.css" rel="stylesheet" type="text/css" />
    <link href="/scroll.css" rel="stylesheet" type="text/css" />
    <!-- Font-Awesome cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
  </head>

  <!-- <script>
    var menu = document.querySelector('.menu');
    var menuBtn = document.querySelector('.menu button');
    menuBtn.addEventListener('click', () => {
      menu.classList.toggle('opened')
    })
  </script> -->

  <body>
    <%- include('./common') %>

    <!-----     LANDING PAGE    ----->
    <section class="main">
      <section class="left">
        <div class="top-line">Exclusive Management</div>
        <h1 class="heading">Highly Qualified Managing Team</h1>
        <p class="msg">
          Our Team incorporates with you and helps to figure out the solution of
          the problem in the cheapest and best method possible
        </p>
        <button class="cta">Learn More</button>
      </section>
      <section class="right">
        <img src="/bigdata.svg" alt="homePage" />
      </section>
    </section>

    <!-----     LOGIN PAGE    ----->
    <section class="login_Main">
      <div class="header_Body">
        <h1 class="heading_Login">Login Portal for the Student and Admin</h1>
        <h2 class="heading_Login2">
          Login to the page and expore the possiblities and different aspect of
          your problems and their vise solution by our professionals
        </h2>
        <div class="button_Tags">
          <a class="cta-Login-dark" href="/regadm">Sign Up Admin</a>
          <a class="cta-Login" href="/regstu">Sign Up Student</a>
        </div>
      </div>
    </section>

    <section class="login_portal">
      <!-- New Form Template -->
      <div class="form-box">
        <div class="button-box">
          <div id="btn"></div>
          <button type="button" class="toggle-btn" onclick="admin()">
            Admin Login
          </button>
          <button type="button" class="toggle-btn" onclick="student()">
            Student Login
          </button>
        </div>

        <form id="admin" class="input-group" action="" method="post">
          <h1>Admin Login account</h1>
          <div class="signup_link">
            Don't have an account? <a href="/regadm">Create One</a>
          </div>

          <div class="txt_field">
            <input type="email" placeholder="johndoe@gmail.com" required />
            <i class="far fa-envelope"></i>
          </div>
          <div class="txt_field">
            <input type="password" placeholder="Password" required />
            <i class="far fa-eye"></i>
          </div>
          <div class="pass">Forgot Password?</div>
          <input type="submit" value="Login" />
        </form>

        <form id="student" class="input-group" action="" method="post">
          <h1>Student Login account</h1>
          <div class="signup_link">
            Don't have an account? <a href="/regadm">Create One</a>
          </div>

          <div class="txt_field">
            <input type="email" placeholder="johndoe@gmail.com" required />
            <i class="far fa-envelope"></i>
          </div>
          <div class="txt_field">
            <input type="password" placeholder="Password" required />
            <i class="far fa-eye"></i>
          </div>
          <div class="pass">Forgot Password?</div>
          <input type="submit" value="Login" />
        </form>
      </div>
    </section>

    <!-----     FEATURES PAGE    ----->
    <section id="About" class="features_outMost">
      <div class="features_main">
        <span class="headTag"> Key Features </span>
        <h1 class="features_Heading">What we do here!?</h1>
        <p class="features_Para">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi
          commodi magni vel nesciunt libero aspernatur.
        </p>

        <div class="features_Cards_Row">
          <div class="features_Card_Body">
            <div class="features_Inner">
              <div class="features_Top">
                <img class="features_Img" src="/features_Yellow.svg" alt="" />
                <p class="flex_Heading">Sports Management</p>
                <p class="flex_Para">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Facilis, blanditiis.
                </p>
                <a class="btn_F" href="#"><p class="button_B">See How</p></a>
              </div>
            </div>
          </div>

          <div class="features_Card_Body">
            <div class="features_Inner">
              <div class="features_Top">
                <img class="features_Img" src="/features_Orange.svg" alt="" />
                <p class="flex_Heading">Resource Management</p>
                <p class="flex_Para">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Facilis, blanditiis.
                </p>
                <a class="btn_F" href="#"><p class="button_B">See How</p></a>
              </div>
            </div>
          </div>

          <div class="features_Card_Body">
            <div class="features_Inner">
              <div class="features_Top">
                <img class="features_Img" src="/features_NavyBlue.svg" alt="" />
                <p class="flex_Heading">Event Management</p>
                <p class="flex_Para">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Facilis, blanditiis.
                </p>
                <a class="btn_F" href="#"><p class="button_B">See How</p></a>
              </div>
            </div>
          </div>

          <div class="features_Card_Body">
            <div class="features_Inner">
              <div class="features_Top">
                <img class="features_Img" src="/features_Blue.svg" alt="" />
                <p class="flex_Heading">Technical Management</p>
                <p class="flex_Para">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Facilis, blanditiis.
                </p>
                <a class="btn_F" href="#"><p class="button_B">See How</p></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



  <!-- Contact Us-->
  <div id="Contact">


    <!--1st Row of section-7-->

    <div class="row-heading">
        <div id="col-lg-12" class="col-lg-12">
            <h1 id="h1" style="text-align: center; color: black;" data-aos="fade-up"><b>Contact Us</b></h1>
            <hr class="style-two-2" data-aos="fade-up" data-aos-delay="300">
            <h2 id="contact-us-text" data-aos="fade-right" data-aos-delay="400"> The Technical Ecosystem is Brewing with <span style="color: #f00946">change</span>. We are Fanning the <span style="color: #f00946">fire</span>.</h2>
        </div>
    </div>


    <!--2nd Row of section-7-->
    
    <div class="row-contact contact-dynamic" style="background-color: whitesmoke; box-shadow: 0 0 16px 0 rgba(8, 11, 14, 0.1),
    0 16px 16px 1px rgba(8, 11, 14, 0.1);" data-aos="fade-up" data-aos-delay="400">
        <div class="col-lg-8 full-table">
          
            <h4 class="h6" style="color: #222831; margin-bottom: 4%;">Send Us A Message</h4>

            <form action="notification.php" method="post" class="contact">
                <div>
                    <input class="full-width contact-fill" type="text" placeholder="Your Name" id="nameInputID" name="name">
                    <input class="full-width contact-fill" type="email" placeholder="Your Email" id="emailInputID" name="email">
                    <input class="full-width contact-fill" type="text" placeholder="Subject" id="subjectInputID" name="subject">
                </div>

                <textarea class="full-width contact-message" placeholder="Your message" id="messageInputID" name="msg"></textarea>

                <button id="contactSubmitButton" class="btn-primary">Submit</button>
            </form>
        </div>

        <div class="col-lg-4 tab-full d-none d-md-block" style="margin-bottom: 10%">

            <h4 class="h6" style="color: #222831; margin-bottom: 15%">CONTACT INFO</h4>

            <div class="cinfo">
                <h5 class="col-left" style="color: #f00946">Where to Find Us</h5>
                <p class="cont-para">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto est, voluptatibus error quidem, in maxime inventore, 
                  repudiandae dicta quaerat temporibus quis aspernatur vero eum autem.
                </p>
            </div>

            <div class="cinfo">
                <h5 class="col-left" style="color: #f00946">Harshita Raj</h5>
                <p class="cont-para"> President, SCRUM
                    <br>
                     <a href="mailto:bitptechnical@gmail.com"><i class="fas fa-envelope"></i>harshita@scrum.org.in</a><br>
                    <i class="fa fa-phone-square " aria-hidden="true"></i><a href="tel:+91-62071-46108">
                        +91-12345-67890</a>
                </p>
            </div>

            <div class="cinfo">
                <h5 class="col-left" style="color: #f00946">Jon</h5>
                <p class="cont-para"> Web-Master, SCRUM
                    <br>
                    <a href="mailto:be15196.18@bitmesra.ac.in"><i class="fas fa-envelope"></i>webmaster@scrum.org.in</a><br>
                    <i class="fa fa-phone-square " aria-hidden="true"></i><a href="tel:+91-77820-55110">
                      +91-12345-67890</a>
                </p>
            </div>

        </div>
    </div>


  </div>
  <!--Contact ENDS here-->

  <!--Scrollbtn text-->
  <!-- <p id="topBtn-p">Back to Top</p>
  <div class="btr-float">
    <button id="topBtn"><i class="fas fa-arrow-up"></i></button>
  </div> -->



    <script>
      var menu = document.querySelector('.menu');
      var menuBtn = document.querySelector('.menu button');
      menuBtn.addEventListener('click', () => {
        menu.classList.toggle('opened')
      })
    </script>    

    <script>
      var x = document.getElementById("admin");
      var y = document.getElementById("student");
      var z = document.getElementById("btn");

      function student() {
        x.style.left = "-400px";
        y.style.left = "50px";
        z.style.left = "150px";
      }
      function admin() {
        x.style.left = "50px";
        y.style.left = "450px";
        z.style.left = "0px";
      }
    </script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      //for scroll to top button
      $(document).ready(function(){

      $(window).scroll(function(){
          if($(this).scrollTop() > 1000){
              $('#topBtn').fadeIn();
          } else {
              $('#topBtn').fadeOut();
          }
      });

      $("#topBtn").click(function(){
          $('html ,body').animate({scrollTop : 0},1000);
      });
      });

      //for vertical text (BACK TO TOP)
      $(document).ready(function(){

      $(window).scroll(function(){
          if($(this).scrollTop() > 1500){
              $('#topBtn-p').fadeIn();
          } else {
              $('#topBtn-p').fadeOut();
          }
      });
      });
    </script> -->

    <!-- TO ADD FOOTER just remove the below two tags </body> and </html> and then uncomment the below code -->
    <%- include('footer')%>
  </body>
</html>
