<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
Sign In
    </title>
    <link href="/style1.css" rel="stylesheet" type="text/css">
    
</head>

<body>
   
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Sign in:</h1>
                <h2 class="student-show">Student</h2>
                <form action="/student" method="GET" id="student">
                    <button class="btn">Student</button>
                </form>
                <h2 class="admin-show">Administrator</h2>
                <form action="/admin" method="GET" id="admin">
                    <button class="btn">Admin</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
