<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign In</title>
    <!-- <link href="/style1.css" rel="stylesheet" type="text/css" /> -->
    <link href="/ScrollBar.css" rel="stylesheet" type="text/css" />
    <link href="/common.css" rel="stylesheet" type="text/css" />
    <link href="/homePage.css" rel="stylesheet" type="text/css" />
    <link href="/loginPage.css" rel="stylesheet" type="text/css" />
    <link href="/features.css" rel="stylesheet" type="text/css" />
    <link href="/footer.css" rel="stylesheet" type="text/css" />
    <!-- Font-Awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>

  <!-- <script>
    var menu = document.querySelector('.menu');
    var menuBtn = document.querySelector('.menu button');
    menuBtn.addEventListener('click', () => {
      menu.classList.toggle('opened')
    })
  </script> -->

  <body>
    <%- include('./common') %>

    <!-----     LANDING PAGE    ----->
    <section class="main">
      <section class="left">
        <div class="top-line">Exclusive Management</div>
        <h1 class="heading">
              Highly Qualified Managing Team
        </h1>
        <p class="msg">Our Team incorporates with you and helps to figure out the solution of the problem in the cheapest and best method possible</p>
        <button class="cta">Learn More</button>
      </section>
      <section class="right">
        <img src="/bigdata.svg" alt="homePage">
      </section>
    </section>


    <!-----     LOGIN PAGE    ----->
    <section class="login_Main">
      <div class="header_Body">
        <h1 class="heading_Login">
          Login Portal for the Student and Admin
        </h1>
        <h2 class="heading_Login2">
          Login to the page and expore the possiblities and different aspect of your problems and their vise solution by our professionals
        </h2>
        <div class="button_Tags">
          <a class="cta-Login-dark" href="/regadm">Sign Up Admin</a>
          <a class="cta-Login" href="/regstu">Sign Up Student</a>
        </div>
      </div>
    </section>

    
    <section class="login_portal">

          <!-- New Form Template -->
            <div class="form-box">
              <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="admin()">Admin Login</button>
                <button type="button" class="toggle-btn" onclick="student()">Student Login</button>
              </div>

              <form id="admin" class="input-group" action="" method="post">
                <h1>Admin Login account</h1>
                <div class="signup_link">
                  Don't have an account? <a href="/regadm">Create One</a>
                </div>

                <div class="txt_field">
                  <input type="email" placeholder="johndoe@gmail.com" required>
                  <i class="far fa-envelope"></i>
                </div>
                <div class="txt_field">
                  <input type="password" placeholder="Password" required>
                  <i class="far fa-eye"></i>
                </div>
                <div class="pass">Forgot Password?</div>
                <input type="submit" value="Login">
              </form>

              <form id="student" class="input-group" action="" method="post">
                <h1>Student Login account</h1>
                <div class="signup_link">
                  Don't have an account? <a href="/regadm">Create One</a>
                </div>

                <div class="txt_field">
                  <input type="email" placeholder="johndoe@gmail.com" required>
                  <i class="far fa-envelope"></i>
                </div>
                <div class="txt_field">
                  <input type="password" placeholder="Password" required>
                  <i class="far fa-eye"></i>
                </div>
                <div class="pass">Forgot Password?</div>
                <input type="submit" value="Login">
              </form>
            </div>

    </section>



  <!-----     FEATURES PAGE    ----->
  <section class="features_outMost">
    <div class="features_main">
      <span class="headTag">
        Key Features
      </span>
      <h1 class="features_Heading">What we do here!?</h1>
      <p class="features_Para">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi commodi magni vel nesciunt libero aspernatur.</p>
      

      <div class="features_Cards_Row">
        
        <div class="features_Card_Body">
          <div class="features_Inner">
            <div class="features_Top">
              <img class="features_Img" src="/features_Yellow.svg" alt="">
              <p class="flex_Heading">Sports Management</p>
              <p class="flex_Para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, blanditiis.</p>
              <a class="btn_F" href="#"><p class="button_B">See How</p></a>
            </div>
          </div>
        </div>

        <div class="features_Card_Body">
          <div class="features_Inner">
            <div class="features_Top">
              <img class="features_Img" src="/features_Orange.svg" alt="">
              <p class="flex_Heading">Resource Management</p>
              <p class="flex_Para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, blanditiis.</p>
              <a class="btn_F" href="#"><p class="button_B">See How</p></a>
            </div>
          </div>
        </div>

        <div class="features_Card_Body">
          <div class="features_Inner">
            <div class="features_Top">
              <img class="features_Img" src="/features_NavyBlue.svg" alt="">
              <p class="flex_Heading">Event Management</p>
              <p class="flex_Para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, blanditiis.</p>
              <a class="btn_F" href="#"><p class="button_B">See How</p></a>
            </div>
          </div>
        </div>

        <div class="features_Card_Body">
          <div class="features_Inner">
            <div class="features_Top">
              <img class="features_Img" src="/features_Blue.svg" alt="">
              <p class="flex_Heading">Technical Management</p>
              <p class="flex_Para">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, blanditiis.</p>
              <a class="btn_F" href="#"><p class="button_B">See How</p></a>
            </div>
          </div>
        </div>

      </div>


    </div>
  </section>



    <!-- <script>
      var menu = document.querySelector('.menu');
      var menuBtn = document.querySelector('.menu button');
      menuBtn.addEventListener('click', () => {
        menu.classList.toggle('opened')
      })
    </script>     -->

    <script>
      
      var x = document.getElementById("admin");
      var y = document.getElementById("student");
      var z = document.getElementById("btn");

      function student(){
        x.style.left = "-400px";
        y.style.left = "50px";
        z.style.left = "150px";
      }
      function admin() {
        x.style.left = "50px";
        y.style.left = "450px";
        z.style.left = "0px";
      }

    </script>

    <!-- TO ADD FOOTER just remove the below two tags </body> and </html> and then uncomment the below code -->
    <%- include('footer')%>
