<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="/style1.css" rel="stylesheet" type="text/css" />
    <link href="/common.css" rel="stylesheet" type="text/css" />
    <link href="/css/footer.css" rel="stylesheet" type="text/css" />
  </head>
  <meta charset="utf-8" />
  <title>Admin Login Form</title>
  <!--        <link rel="stylesheet" href="style.css">-->

  <body>
    <%- include('./common') %>
    <div id="navbar" class="navbar">
      <a href="#default" id="logo" class="logo">Scrum Mgmt.</a>
      <div class="navbar-right">
        <a class="active" href="#">Home</a>
        <a href="#">Sign In</a>
        <a href="#">Sign Up</a>
      </div>
    </div>
    <img src="/login.svg" class="homeimg" />

    <div class="box">
      <img src="/logo.jpg" class="avatar" />
      <div class="content">
        <br /><br /><br /><br />
        <center>
          <h1>Login</h1>
          <div class="textbox">
            <span class="glyphicon glyphicon-user"></span>
            <input
              type="text"
              required
              placeholder="Username"
              name=""
              value=""
            />
          </div>

          <div class="textbox">
            <span class="glyphicon glyphicon-lock"></span>
            <input
              type="password"
              required
              placeholder="Password"
              name=""
              value=""
            />
          </div>
          <form action="/details" method="GET">
            <button class="btn" type="submit">Sign in</button>
          </form>
        </center>
      </div>
    </div>

    <div class='footer-container'>
      <section class='footer-subscription'>
        <p class='footer-subscription-heading'>
          Join our exclusive membership to receive the latest news and trends
        </p>
        <p class='footer-subscription-text'>
          You can unsubscribe at any time.
        </p>
        <div class='input-areas'>
          <form>
            <input
              class='footer-input'
              name='email'
              type='email'
              placeholder='Your Email'
             />
            <Button class='btn btn--outline'>Subscribe</Button>
          </form>
        </div>
      </section>
      <div class='footer-links'>
        <div class='footer-link-wrapper'>
          <div class='footer-link-items'>
            <h2>About Us</h2>
            <a href='/sign-up'>How it works</a>
            <a href='/'>Testimonials</a>
            <a href='/'>Careers</a>
            <a href='/'>Investors</a>
            <a href='/'>Terms of Service</a>
          </div>
          <div class='footer-link-items'>
            <h2>Contact Us</h2>
            <a href='/'>Contact</a>
            <a href='/'>Support</a>
            <a href='/'>Destinations</a>
            <a href='/'>Sponsorships</a>
          </div>
        </div>
        <div class='footer-link-wrapper'>
          <div class='footer-link-items'>
            <h2>Videos</h2>
            <a href='/'>Submit Video</a>
            <a href='/'>Ambassadors</a>
            <a href='/'>Agency</a>
            <a href='/'>Influencer</a>
          </div>
          <div class='footer-link-items'>
            <h2>Social Media</h2>
            <a href='/'>Instagram</a>
            <a href='/'>Facebook</a>
            <a href='/'>Youtube</a>
            <a href='/'>Twitter</a>
          </div>
        </div>
      </div>
      <section class='social-media'>
        <div class='social-media-wrap'>
          <div class='footer-logo'>
            <a href='/' class='social-logo'>
              
              SCRUM-MANAGEMENT
            </a>
          </div>
          <small class='website-rights'>SCRUM-MANAGEMENT © 2020</small>
          <div class='social-icons'>
            <a
              class='social-icon-link'
              href='//www.facebook.com/'
              target='_blank'
              aria-label='Facebook'
            >
            <i class="fab fa-facebook-f" aria-hidden="true"></i>
          </a>
            <a
              class='social-icon-link'
              href='/'
              target='_blank'
              aria-label='Instagram'
            >
            <i class="fab fa-instagram" aria-hidden="true"></i>
              </a>
            <a
              class='social-icon-link'
              href=
                '//www.youtube.com/'
              
              target='_blank'
              aria-label='Youtube'
            >
            <i class="fab fa-youtube" aria-hidden="true"></i>
           </a>
            <a
              class='social-icon-link'
              href='/'
              target='_blank'
              aria-label='Twitter'
            >
            <i class="fab fa-twitter" aria-hidden="true"></i>
           </a>
            <a
              class='social-icon-link'
              href='/'
              target='_blank'
              aria-label='LinkedIn'
            >
            <i class="fab fa-linkedin" aria-hidden="true"></i>
           </a>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
