<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="/style1.css" rel="stylesheet" type="text/css" />
    <link href="/common.css" rel="stylesheet" type="text/css" />
    <link href="/footer.css" rel="stylesheet" type="text/css" />
  </head>
  <meta charset="utf-8" />
  <title>Admin Login Form</title>
  <!--        <link rel="stylesheet" href="style.css">-->

  <body>
    <%- include('./loader') %>
    <%- include('./navbar') %>
    <div id="navbar" class="navbar">
      <a href="#default" id="logo" class="logo">Scrum Mgmt.</a>
      <div class="navbar-right">
        <a class="active" href="#">Home</a>
        <a href="#">Sign In</a>
        <a href="#">Sign Up</a>
      </div>
    </div>
    <img src="/login.svg" class="homeimg" />

    <div class="box">
      <img src="/logo.jpg" class="avatar" />
      <div class="content">
        <br /><br /><br /><br />
        <div class="justify-content-center">
          <h1>Login</h1>
          <div class="textbox">
            <span class="glyphicon glyphicon-user"></span>
            <input
              type="text"
              required
              placeholder="Username"
              name=""
              value=""
            />
          </div>

          <div class="textbox">
            <span class="glyphicon glyphicon-lock"></span>
            <input
              type="password"
              required
              placeholder="Password"
              name=""
              value=""
            />
          </div>
          <form action="/details" method="GET">
            <button class="btn" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
