
<header id="navbar" class="nav_Header">
    <a href="/#"><h1>Scrum</h1></a>
  
    <section class="menu">
      <ul class="menu-list">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/#About">About</a></li>
        <li><a href="/#Contact">Contact Us</a></li>
        <li><a href="/teamsPage">Teams</a></li>
        <a class="cta-nav" href="/regadm">Sign Up</a>
      </ul>
  
      <button>
        <i class="fas fa-times"></i>
        <i class="fas fa-bars"></i>
      </button>
    </section>
  </header>
  
  
  <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v10.0'
        });
      };
  
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  
    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
      attribution="setup_tool"
      page_id="108918351247897"
      theme_color="#f00946"
      logged_in_greeting="Hi! Welcome to Scrum Management. How can we help you?"
      logged_out_greeting="Hi! Welcome to Scrum Management. How can we help you?">
    </div>
  <!-- Load Facebook SDK for JavaScript END here -->
  
  <script>
    document.body.onload = () => {
      setTimeout(() => {
        var preloader = document.getElementById("loader");
        if (!preloader.classList.contains("done")) {
          preloader.classList.add("done");
        }
      }, 200);
    };
  </script>
  
  <script>
     // When the user scrolls down 20px from the top of the document, slide down the navbar
      window.onscroll = function() {scrollFunction()};
  
      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("navbar").style.top = "-50px";
        } else {
          document.getElementById("navbar").style.top = "0";
        }
      }
    </script>
  
    <!--Github link for Smoothscrool Link-->
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
    <script>
      const scroll = new SmoothScroll('.nav_Header a[href*="#"]', {
          speed : 800
      });
    </script>
  