<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Learn Easy</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/common.css" rel="stylesheet" type="text/css" />
    <link href="/fetchDetails.css" rel="stylesheet" type="text/css" />
    <link href="/footer.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="">
    <%- include('./common') %>
    <div class="container-fluid">
      <div class="row1" align-items="center">
        <marquee scrollamount="10">
          <img
            src="cdxlogo.png"
            width="500px"
            style="border: 5px solid white"
          />
          <img src="img1.jpg" width="500px" style="border: 5px solid white" />
          <img src="img2.jpg" width="500px" style="border: 5px solid white" />
          <img src="img3.jpg" width="500px" style="border: 5px solid white" />
          <img src="img4.jpeg" width="500px" style="border: 5px solid white" />
          <img src="img5.jpg" width="500px" style="border: 5px solid white" />
        </marquee>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <!--div id="first"-->
          <div id="unchecked" class="first card">
            <div class="title">
              <div id="unchecked">
                <button class="add" onclick="newCard()">+</button>
              </div>
              <h3>Unchecked</h3>
            </div>
            <ul id="scrumCard" style="padding-left: 0px">
              <!---->
              <li>
                <form
                  text-align="center"
                  id="student_details"
                  action="/insertData"
                  method="POST"
                >
                  <input
                    type="text"
                    id="name"
                    name="name"
                    required
                    placeholder="Name"
                    pattern="[A-Z a-z]{6,20}"
                    title="Username must be defined with uppercase and lowercase characters only"
                  />
                  <input
                    type="text"
                    id="branch"
                    name="branch"
                    required
                    placeholder="Branch"
                    pattern="[A-Z a-z]{3-20}"
                    title="Branch must be defined with Uppercase and lowercase characters only"
                  />
                  <input
                    type="text"
                    id="Sem"
                    name="Sem"
                    required
                    placeholder="Semester"
                    pattern="[1-7]{1}"
                    title="Semester must be a digit between 1 to 7"
                  />
                  <input
                    type="text"
                    id="sec"
                    name="sec"
                    required
                    placeholder="Section"
                    pattern="[A-Z]{1}"
                    title="Section must be a Uppercase character"
                  />
                  <input
                    type="text"
                    id="email"
                    name="email"
                    required
                    placeholder="Email"
                  />
                  <input
                    type="text"
                    id="num"
                    name="num"
                    required
                    placeholder="Mobile No"
                    pattern="[0-9]{10}"
                    title="Mobile number must be a 10 digited number"
                  />
                  <input
                    type="text"
                    id="git"
                    name="git"
                    required
                    placeholder="Github link"
                    pattern="https?://github.com/.+"
                    title="Github link must follow the pattern http://github.com/"
                  />
                  <button
                    class="submitBtn"
                    type="submit"
                    onsubmit="validate()"
                    value="Add"
                  >
                    Submit
                  </button>
                </form>
              </li>
            </ul>
            <div class="unchecked" style="overflow: auto"></div>
          </div>
        </div>
        <div class="col-sm-3">
          <div id="inProgress" class="second card">
            <div class="title">
              <div id="inProgress">
                <button class="add" onclick="newCard()">+</button>
              </div>
              <h3>In progress</h3>
            </div>
            <div class="inProgress" style="overflow: auto"></div>
          </div>
        </div>
        <div class="col-sm-3">
          <div id="checked" class="second card">
            <div class="title">
              <div id="checked">
                <button class="add" onclick="newCard()">+</button>
              </div>
              <h3>Checked</h3>
            </div>
            <div class="checked" style="overflow: auto"></div>
          </div>
        </div>
        <div class="col-sm-3">
          <div id="members" class="second card">
            <div class="title">
              <div id="members">
                <button class="add" onclick="newCard()">+</button>
              </div>
              <h3>Members</h3>
            </div>
            <div class="members" style="overflow: auto"></div>
          </div>
        </div>
      </div>
    </div>

    <%- include('footer')%>
    <script>
      // document.querySelector(".add").addEventListener("click", event=>{
      //   console.log("clicked")
      //   console.log(event.target.parentNode.id)
      //   let parent = document.querySelector("."+event.target.parentNode.id)
      //   let scrumCard = document.querySelector("#scrumCard").cloneNode(true)
      //   //scrumCard.style.position="absolute"
      //   parent.appendChild(scrumCard)
      //   //scrumCard.scrollIntoView()
      // })
      function newCard() {
        console.log("clicked");
        console.log(event.target.parentNode.id);
        let parent = document.querySelector("." + event.target.parentNode.id);
        let scrumCard = document.querySelector("#scrumCard").cloneNode(true);
        //scrumCard.style.position="absolute"
        parent.appendChild(scrumCard);
        //scrumCard.scrollIntoView()
        let elem = document.querySelector("#" + event.target.parentNode.id);
        elem.scrollTop = elem.scrollHeight;
      }
    </script>
  </body>
</html>
