<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="/ScrollBar.css" rel="stylesheet" type="text/css" />
    <link href="/common.css" rel="stylesheet" type="text/css" />
    <link href="/footer.css" rel="stylesheet" type="text/css" />
    <link href="/scroll.css" rel="stylesheet" type="text/css" />
    <link href="/fixedBtn.css" rel="stylesheet" type="text/css" />
    <link href="/teams.css" rel="stylesheet" type="text/css" />
    <!-- Font-Awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Teams</title>
  </head>

  <body>

    <%- include('./loader') %>

    <section class="pimg1">
        <%- include('./navbar') %>
        <section id="Home">
            <div class="container">
              <div class="row" id="row1">
                <div class="col-lg-12 md-12 sm-12 xs-12">
                    <h1 class="display-1" data-aos="fade-up" data-aos-duration="1500"><i class="fas fa-users"><span> </span>  Team</i></h1>
                </div>
                <!--If you want to add a Column in row-1 then add it here-->
      
                <!--Fixed Button at the right-->
                <div class="row" >
                  <div id="fixed-Btn" class="col-lg-6 md-6 sm-6 xs-6" data-aos="fade-left" data-aos-delay="300" data-aos-duration="1500">
                        <a  href="https://www.facebook.com/"><i id="fbt" class="fab fa-facebook-square"></i></a>
                        <a  href="https://www.instagram.com/"><i id="igt" class="fab fa-instagram"></i></a>
                        <a  href=""><i id="ght" class="fab fa-github"></i></a>
                        <a  href="https://www.linkedin.com/"><i id="lkt" class="fab fa-linkedin"></i></a>
                        <a  href="https://www.youtube.com/"><i id="ytt" class="fab fa-youtube"></i></a>
                  </div>
                </div>
                <!--Fixed btn Ends here-->
      
              </div>
            <!--If you want to add another row or column then do it here in this GRID SYSTEM-->
          </section>
    </section>
    
    <!-- <div class="top-section-mountains">
        <img src="/mountains-grey.svg">
    </div> -->

    <!--Section-2 Starts here-->
  <section id="Team">



    <!--President Start-->
    <h2 class="content-header" data-aos="fade-up" data-aos="fade-up">President</h2>
    <hr class="style-two" data-aos="fade-up">

    <div class="row president">
        <div class="col-lg-12 md-12 sm-12">
            <div class="container cunt" data-aos="fade-up" data-aos-delay="300">
                <img src="/avtar.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text"><a href="https://www.linkedin.com/in/"><img src="/linkedin.png" width="90" height="90"></a></div>
                    </div>
                </div>
                <div class="name">
                    <h5 data-aos="fade-up" data-aos-delay="300">Harshit Naman</h5>
                    <h6 class="post" data-aos="fade-up" data-aos-delay="300">President</h6>
                </div>
        </div>
    </div>
    <!--President ENDS here-->


    <!-- Vice-President Start -->
    <h2 class="content-header" data-aos="fade-up">Vice-President</h2>
    <hr class="style-two" data-aos="fade-up">
    
    <div class="row vice-president">
        <div class="col-lg-12 md-12 sm-12">
            <div class="container cunt" data-aos="fade-up" data-aos-delay="300">
                <img src="/avtar.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text"><a href="https://www.linkedin.com/in/"><img src="/linkedin.png" width="90" height="90"></a></div>
                    </div>
                </div>
                <div class="name">
                    <h5 data-aos="fade-up" data-aos-delay="300">Bhargav Kar</h5>
                    <h6 class="post" data-aos="fade-up" data-aos-delay="300">Vice-President</h6>
                </div>
        </div>
    </div>
    <!-- Vice-President ENDS  here-->



    <!-- Secretary Start -->
    <h2 class="content-header" data-aos="fade-up">Secretary</h2>
    <hr class="style-two" data-aos="fade-up">
    
    <div class="row secretary">
        <div class="col-lg-12 md-12 sm-12">
            <div class="container cunt" data-aos="fade-up" data-aos-delay="300">
                <img src="/avtar.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text"><a href="https://www.linkedin.com/in/"><img src="/linkedin.png" width="90" height="90"></a></div>
                    </div>
                </div>
                <div class="name">
                    <h5 data-aos="fade-up" data-aos-delay="300">Nidhi Jha</h5>
                    <h6 class="post" data-aos="fade-up" data-aos-delay="300">Secretary</h6>
                </div>
        </div>
    </div>
    <!-- Secretary ENDS  here-->
    


    <!-- Treasurer Start -->
    <h2 class="content-header" data-aos="fade-up">Treasurer</h2>
    <hr class="style-two" data-aos="fade-up">
    
    <div class="row treasurer">
        <div class="col-lg-12 md-12 sm-12">
            <div class="container cunt" data-aos="fade-up" data-aos-delay="300">
                <img src="/avtar.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text"><a href="#"><img src="/linkedin.png" width="90" height="90"></a></div>
                    </div>
                </div>
                <div class="name">
                    <h5 data-aos="fade-up" data-aos-delay="300">Kumar Ashu</h5>
                    <h6 class="post" data-aos="fade-up" data-aos-delay="300">Treasurer</h6>
                </div>
        </div>
    </div>
    <!-- Treasurer ENDS  here-->




    <!-- Public Relation Start -->
    <h2 class="content-header" data-aos="fade-up">Public Relation</h2>
    <hr class="style-two" data-aos="fade-up">
    
    <!--Public Relation Row-1 Starts Here-->
    <div class="row public-relation">

        <div class="col-lg-4 md-4 sm-12">
            <div class="container cunt" data-aos="fade-up" data-aos-delay="300">
                <img src="/avtar.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text"><a href="https://www.linkedin.com/in/"><img src="/linkedin.png" width="90" height="90"></a></div>
                    </div>
                </div>
                <div class="name">
                    <h5 data-aos="fade-up" data-aos-delay="300">Anoop Raj</h5>
                    <h6 class="post" data-aos="fade-up" data-aos-delay="300">Executive</h6>
                </div>
        </div>


        <div class="col-lg-4 md-4 sm-12">
            <div class="container cunt" data-aos="fade-up" data-aos-delay="300">
                <img src="/avtar.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text"><a href="https://www.linkedin.com/in/"><img src="/linkedin.png" width="90" height="90"></a></div>
                    </div>
                </div>
                <div class="name">
                    <h5 data-aos="fade-up" data-aos-delay="300">Anupam</h5>
                    <h6 class="post" data-aos="fade-up" data-aos-delay="300">Executive</h6>
                </div>
        </div>


        <div class="col-lg-4 md-4 sm-12">
            <div class="container cunt" data-aos="fade-up" data-aos-delay="300">
                <img src="/avtar.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text"><a href="http://linkedin.com/in/"><img src="/linkedin.png" width="90" height="90"></a></div>
                    </div>
                </div>
                <div class="name">
                    <h5 data-aos="fade-up" data-aos-delay="300">Khusi Kumari</h5>
                    <h6 class="post" data-aos="fade-up" data-aos-delay="300">Associate</h6>
                </div>
        </div>


    </div>
    <!--Public Relation ROW-1 Ends here-->


    <!--Public Relation Row-2 Starts Here-->
    <div class="row public-relation">

        <div class="col-lg-12 md-12 sm-12">
            <div class="container cunt" data-aos="fade-up" data-aos-delay="300">
                <img src="/avtar.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text"><a href="https://www.linkedin.com/in/"><img src="/linkedin.png" width="90" height="90"></a></div>
                    </div>
                </div>
                <div class="name">
                    <h5 data-aos="fade-up" data-aos-delay="300">Muskan Nidhi</h5>
                    <h6 class="post" data-aos="fade-up" data-aos-delay="300">Associate</h6>
                </div>
        </div>


    </div>
    <!--Public Relation ROW-2 Ends here-->

    <!-- Public Relation ENDS  here-->



        <!-- Resource Management Start -->
        <h2 class="content-header" data-aos="fade-up">Resource Management</h2>
        <hr class="style-two" data-aos="fade-up">
        
        <!--Resource Management Row-1 Starts Here-->
        <div class="row resource-management">
    
            <div class="col-lg-4 md-4 sm-12">
                <div class="container cunt" data-aos="fade-up" data-aos-delay="300">
                    <img src="/avtar.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text"><a href="http://linkedin.com/in/"><img src="/linkedin.png" width="90" height="90"></a></div>
                        </div>
                    </div>
                    <div class="name">
                        <h5 data-aos="fade-up" data-aos-delay="300">Apoorva Ashish</h5>
                        <h6 class="post" data-aos="fade-up" data-aos-delay="300">Executive</h6>
                    </div>
            </div>


            <div class="col-lg-4 md-4 sm-12">
                <div class="container cunt" data-aos="fade-up" data-aos-delay="300">
                    <img src="/avtar.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text"><a href="https://www.linkedin.com/in/"><img src="/linkedin.png" width="90" height="90"></a></div>
                        </div>
                    </div>
                    <div class="name">
                        <h5 data-aos="fade-up" data-aos-delay="300">Shubham Sourabh</h5>
                        <h6 class="post" data-aos="fade-up" data-aos-delay="300">Executive</h6>
                    </div>
            </div>

    
    
            <div class="col-lg-4 md-4 sm-12">
                <div class="container cunt" data-aos="fade-up" data-aos-delay="300">
                    <img src="/avtar.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text"><a href="#"><img src="/linkedin.png" width="90" height="90"></a></div>
                        </div>
                    </div>
                    <div class="name">
                        <h5 data-aos="fade-up" data-aos-delay="300">Muskan</h5>
                        <h6 class="post" data-aos="fade-up" data-aos-delay="300">Associate</h6>
                    </div>
            </div>
    
    
        </div>
        <!--Resource Management ROW-1 Ends here-->

        <!--Resource Management ROW-2 Starts here-->
        <div class="row resource-management">

            <div class="col-lg-6 md-6 sm-12">
                <div class="container cunt" data-aos="fade-up" data-aos-delay="300">
                    <img src="/avtar.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text"><a href="https://www.linkedin.com/in/"><img src="/linkedin.png" width="90" height="90"></a></div>
                        </div>
                    </div>
                    <div class="name">
                        <h5 data-aos="fade-up" data-aos-delay="300">Sudeep Saurabh</h5>
                        <h6 class="post" data-aos="fade-up" data-aos-delay="300">Associate</h6>
                    </div>
            </div>


            <div class="col-lg-6 md-6 sm-12">
                <div class="container cunt" data-aos="fade-up" data-aos-delay="300">
                    <img src="/avtar.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text"><a href="https://www.linkedin.com/in//"><img src="/linkedin.png" width="90" height="90"></a></div>
                        </div>
                    </div>
                    <div class="name">
                        <h5 data-aos="fade-up" data-aos-delay="300">Anirban Das</h5>
                        <h6 class="post" data-aos="fade-up" data-aos-delay="300">Associate</h6>
                    </div>
            </div>
    
    
        </div>
        <!--Resource Management ROW-2 Ends here-->
    
        <!-- Resource Management ENDS  here-->




        <!-- Event Organizing Start -->
        <h2 class="content-header" data-aos="fade-up">Event Organizing</h2>
        <hr class="style-two" data-aos="fade-up">
        
        <!--Event Organizing Row-1 Starts Here-->
        <div class="row event-organizing">
    
            <div class="col-lg-4 md-4 sm-12">
                <div class="container cunt" data-aos="fade-up" data-aos-delay="300">
                    <img src="/avtar.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text"><a href="#"><img src="/linkedin.png" width="90" height="90"></a></div>
                        </div>
                    </div>
                    <div class="name">
                        <h5 data-aos="fade-up" data-aos-delay="300">Rajdeep</h5>
                        <h6 class="post" data-aos="fade-up" data-aos-delay="300">Executive</h6>
                    </div>
            </div>
    
    
            <div class="col-lg-4 md-4 sm-12">
                <div class="container cunt" data-aos="fade-up" data-aos-delay="300">
                    <img src="/avtar.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text"><a href="https://www.linkedin.com/in/"><img src="/linkedin.png" width="90" height="90"></a></div>
                        </div>
                    </div>
                    <div class="name">
                        <h5 data-aos="fade-up" data-aos-delay="300">Vishal</h5>
                        <h6 class="post" data-aos="fade-up" data-aos-delay="300">Executive</h6>
                    </div>
            </div>
    
    
            <div class="col-lg-4 md-4 sm-12">
                <div class="container cunt" data-aos="fade-up" data-aos-delay="300">
                    <img src="/avtar.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text"><a href="https://www.linkedin.com/in/"><img src="/linkedin.png" width="90" height="90"></a></div>
                        </div>
                    </div>
                    <div class="name">
                        <h5 data-aos="fade-up" data-aos-delay="300">Shubham Kr. Arya</h5>
                        <h6 class="post" data-aos="fade-up" data-aos-delay="300">Associate</h6>
                    </div>
            </div>
    
    
        </div>
        <!--Event Organizing ROW-1 Ends here-->


        <!--Event Organizing Row-2 Starts Here-->
        <div class="row event-organizing">

            <div class="col-lg-12 md-12 sm-12">
                <div class="container cunt" data-aos="fade-up" data-aos-delay="300">
                    <img src="/avtar.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text"><a href="https://www.linkedin.com/in/"><img src="/linkedin.png" width="90" height="90"></a></div>
                        </div>
                    </div>
                    <div class="name">
                        <h5 data-aos="fade-up" data-aos-delay="300">Ashish Kumar</h5>
                        <h6 class="post" data-aos="fade-up" data-aos-delay="300">Associate</h6>
                    </div>
            </div>


        </div>
        <!--Event Organizing ROW-2 Ends here-->

        <!--Event Organizing ROW-2 Starts here-->


        <!--NOTE :-  CHANGE col-lg-12 to col-lg-4 BEFORE ADDITION-->

    <!--   <div class="row event-organizing">
            <div class="col-lg-12 md-12 sm-12">
                <div class="container cunt" data-aos="fade-up" data-aos-delay="300">
                    <img src="/avtar.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                        <div class="text"><a href="https://www.linkedin.com/in/"><img src="/linkedin.png" width="90" height="90"></a></div>
                        </div>
                    </div>
                    <div class="name">
                        <h5 data-aos="fade-up" data-aos-delay="300">Vishal</h5>
                        <h6 class="post" data-aos="fade-up" data-aos-delay="300">EO</h6>
                    </div>
            </div>
        </div>
    -->
        <!--Event Organizing ROW-2 ENDS here-->
    
        <!-- Event Organizing ENDS  here-->






    <!-- Finance Start -->
    <h2 class="content-header" data-aos="fade-up">Finance</h2>
    <hr class="style-two" data-aos="fade-up">
    
    <!--Finance Row-1 Starts Here-->
    <div class="row finance">

        <div class="col-lg-6 md-6 sm-12">
            <div class="container cunt" data-aos="fade-up" data-aos-delay="300">
                <img src="/avtar.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text"><a href="http://linkedin.com/in/"><img src="/linkedin.png" width="90" height="90"></a></div>
                    </div>
                </div>
                <div class="name">
                    <h5 data-aos="fade-up" data-aos-delay="300">Mehul</h5>
                    <h6 class="post" data-aos="fade-up" data-aos-delay="300">Financing Head</h6>
                </div>
        </div>


        <div class="col-lg-6 md-6 sm-12">
            <div class="container cunt" data-aos="fade-up" data-aos-delay="300">
                <img src="/avtar.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text"><a href="#"><img src="/linkedin.png" width="90" height="90"></a></div>
                    </div>
                </div>
                <div class="name">
                    <h5 data-aos="fade-up" data-aos-delay="300">Gourav</h5>
                    <h6 class="post" data-aos="fade-up" data-aos-delay="300">Financer</h6>
                </div>
        </div>


    </div>
    <!--Finance ROW-1 Ends here-->

    <!-- Finance ENDS  here-->




    <!--Web-master Start-->
    <h2 class="content-header" data-aos="fade-up">Technical Head</h2>
    <hr class="style-two" data-aos="fade-up">

    <div class="row web-master">
        <div class="col-lg-12 md-12 sm-12">
            <div class="container cunt" data-aos="fade-up" data-aos-delay="300">
                <img src="/avtar.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text"><a href="https://www.linkedin.com/in/sachin-kumar-singh-43447b152/"><img src="/linkedin.png" width="90" height="90"></a></div>
                    </div>
                </div>
                <div class="name">
                    <h5 data-aos="fade-up" data-aos-delay="300">Sachin Kumar Singh</h5>
                    <h6 class="post" data-aos="fade-up" data-aos-delay="300">Web-Master</h6>
                </div>
        </div>
    </div>
    <!--Web-master ENDS here-->
  </section>
    


  <!--Scrollbtn text-->
  <p id="topBtn-p">Back to Top</p>
  <div class="btr-float">
    <button id="topBtn"><i class="fas fa-arrow-up"></i></button>
  </div>



    <script>
      var menu = document.querySelector('.menu');
      var menuBtn = document.querySelector('.menu button');
      menuBtn.addEventListener('click', () => {
        menu.classList.toggle('opened')
      })
    </script>    

    <script>
      var x = document.getElementById("admin");
      var y = document.getElementById("student");
      var z = document.getElementById("btn");

      function student() {
        x.style.left = "-400px";
        y.style.left = "50px";
        z.style.left = "150px";
      }
      function admin() {
        x.style.left = "50px";
        y.style.left = "450px";
        z.style.left = "0px";
      }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      //for scroll to top button
      $(document).ready(function(){

      $(window).scroll(function(){
          if($(this).scrollTop() > 1000){
              $('#topBtn').fadeIn();
          } else {
              $('#topBtn').fadeOut();
          }
      });

      $("#topBtn").click(function(){
          $('html ,body').animate({scrollTop : 0},1000);
      });
      });

      //for vertical text (BACK TO TOP)
      $(document).ready(function(){

      $(window).scroll(function(){
          if($(this).scrollTop() > 1500){
              $('#topBtn-p').fadeIn();
          } else {
              $('#topBtn-p').fadeOut();
          }
      });
      });
    </script>

    <!-- TO ADD FOOTER just remove the below two tags </body> and </html> and then uncomment the below code -->
    <%- include('footer')%>
  
