body{
    background-color: black;
    font-family: Arial, sans-serif;
    display: inline;
}

img{
  width: 300px;
    height: 225px;
    margin: 50px 50px 50px 50px;
    
}

.first {
    background-color: currentColor;
      border: 2px solid white;
    height: 550px;
    /*width: 250px;*/
    overflow: auto;
    /*float: left;*/
}

.title {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: black;
    
}

.second {
     width: 250px;
    height: 550px;
    background-color: currentColor;
    border: 2px solid white;
    overflow: auto;
}

.card {
    /*    width: 20%;*/
    /*    display: inline-block;*/
    box-shadow: 2px 2px 20px #fff;
    border-radius: 10px;
    margin: 2%;
    padding-right: 0px;
    padding-left: 0px;
}

input {
    width: 80%;
    border-radius: 5px;
    margin-top: 5px;
}

.submitBtn {
    width: 80%;
    margin-top: 5px;

}
button:hover{
  background-color:chartreuse ;
  color: #000;
  transition: .5s;
  
}
  body {
  
/*  background: url(http://www.shukatsu-note.com/wp-content/uploads/2014/12/computer-564136_1280.jpg) no-repeat;*/
  background-size: cover;
  height: 100vh;
}

/*
h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 80px 0;
}
*/

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button1 {
  text-align: center;
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button1:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
